@sidebar-bg: #f3f3f3;
@sidebar-size: 200px;

.Sidebar {
  overflow: hidden;
  background-color: @sidebar-bg;
  min-width: @sidebar-size;
  border-right: 1px solid #a3a3a3;

  .SidebarActionsList {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
